<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ben Wager</title>

        <link rel="stylesheet" href="css/styling.css" />
        <link rel="stylesheet" href="css/animations.css" />
		<link rel="stylesheet" href="css/texts.css" />
    </head>
    <body>
        <div class="content">
            {{ partial "identity.html"}}

			{{ partial "navbar.html"}}

			<div class="page">
